body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.hidden {
  opacity: 0;
}

.show {
  animation: fadeInFromNone 0.5s ease-out;
}

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

.brand-logo {
  font-family: "Lobster", cursive;
}

/*
 * Login Page
 *
 */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

body {
  background: #fff;
}

.input-field input[type="date"]:focus + label,
.input-field input[type="text"]:focus + label,
.input-field input[type="email"]:focus + label,
.input-field input[type="password"]:focus + label {
  color: #e91e63;
}

.input-field input[type="date"]:focus,
.input-field input[type="text"]:focus,
.input-field input[type="email"]:focus,
.input-field input[type="password"]:focus {
  border-bottom: 2px solid #e91e63;
  box-shadow: none;
}

#form-container {
  display: inline-block;
  padding: 32px 48px 0px 48px;
  border: 1px solid #eee;
}

/***
   * adding some container styles
   * @date 10-26-2018 (MM-DD-YYYY)
***/
.signup-card-container {
  background: #fff !important;
  border-left: 0.44em double #33adff !important;
  border-right: 0.44em double #33adff !important;
}

.attach-image {
  transform: scale(4);
  margin-top: 18vh;
  box-shadow: none;
}

.button-icon {
  color: #37aefd !important;
  text-align: center;
  position: relative;
}

.button-icon i {
  color: #37aefd !important;
  text-align: center !important;
}

button + #description-form {
  margin-top: 20%;
}

.post-summary {
  margin-top: 3vh;
}

.add-story {
  margin-top: 3vh;
}
